<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.BaseUserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share.entity.BaseUserInfo">
        <id column="id" property="id" />
	    <result column="is_delete" property="isDelete" />
	    <result column="update_time" property="updateTime" />
        <result column="user_real_name" property="userRealName" />
        <result column="user_id" property="userId" />
        <result column="phone_num" property="phoneNum" />
        <result column="address" property="address" />
        <result column="nick_name" property="nickName" />
        <result column="user_age" property="userAge" />
        <result column="user_sex" property="userSex" />
        <result column="login_password" property="loginPassword" />
        <result column="professional" property="professional" />
        <result column="creat_time" property="creatTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        is_delete,
        update_time,
        id, user_real_name, user_id, phone_num, address, nick_name, user_age, user_sex, login_password, professional, creat_time
    </sql>

</mapper>
